.add-ons-container{
    background-color: #ccc;
}
.new-arrivals-heading,.best-sellers-heading{
    width: 960px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    padding-top: 25px;
    font-size: 17px;
    margin-bottom: 20px;
}
.show-all{
    width: 100px;
    height: 26px;
    color: #c9c2b6;
    background-color: #ebe7df;
    border: 1px solid #c9c2b6;
}

.image-container{
    width:960px;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    /* margin-top: 20px; */
}
.itemImage{
    display: inline-block;
    width: 300px;
    height: 270px;
    background-color: #fff;
    position: relative;
}
.itemPrice{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #57c5a0;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    left: 10px;
    bottom: 0px;
}
.productImg{
    height: 80%;
    width: 100%;
}
.caption{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 550;
    position: absolute;
    right: 70px;
    bottom: 10px;
    color: #242424;
}
